# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Documents\SCHOOL\04 Avans\Blok 15 + 16 Afstudeerstage\herkansingen\0 kmint\ufo-startproject-251121\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
